/* 6. Contact & Footer Styles
--------------------------------------*/
.form-control {
  border-radius: 30px;
}
textarea.form-control {
  padding: 15px;
}
.templatemo-contact {
  padding: 60px;
  padding-bottom: 30px;
}
.templatemo-send-btn {
  background: #fe475b;
  border-radius: 30px;
  color: white;
  padding: 5px 30px;
}
#map-canvas {
  border-radius: 50px;
  height: 350px;
}
footer {
  background: url("../images/red-corner.png") no-repeat right;
  height: 115px;
}
footer .col-lg-12 {
  padding: 0;
}
.templatemo-copyright-text,
.templatemo-copyright-design {
  margin-top: 75px;
}
.templatemo-copyright-text {
  float: left;
  margin-left: 30px;
}
.templatemo-copyright-text a {
  color: #000;
}
.templatemo-copyright-design {
  float: right;
  margin-right: 30px;
}
.templatemo-copyright-design,
.templatemo-copyright-design a {
  color: #fff;
}
