@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/eot/IRANSansWeb_Medium.eot") format("embedded-opentype"),
    url("../fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
    url("../fonts/woff/IRANSansWeb_Medium.woff") format("woff"),
    url("../fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/eot/IRANSansWeb_bold.eot");
  src: url("../fonts/eot/IRANSansWeb_bold.eot") format("embedded-opentype"),
    url("../fonts/woff2/IRANSansWeb_bold.woff2") format("woff2"),
    url("../fonts/woff/IRANSansWeb_bold.woff") format("woff"),
    url("../fonts/ttf/IRANSansWeb_bold.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/eot/IRANSansWeb_Medium.eot") format("embedded-opentype"),
    url("../fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
    url("../fonts/woff/IRANSansWeb_Medium.woff") format("woff"),
    url("../fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/eot/IRANSansWeb_light.eot");
  src: url("../fonts/eot/IRANSansWeb_light.eot") format("embedded-opentype"),
    url("../fonts/woff2/IRANSansWeb_light.woff2") format("woff2"),
    url("../fonts/woff/IRANSansWeb_light.woff") format("woff"),
    url("../fonts/ttf/IRANSansWeb_light.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot")
      format("embedded-opentype"),
    url("../fonts/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"),
    url("../fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"),
    url("../fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/eot/IRANSansWeb.eot");
  src: url("../fonts/eot/IRANSansWeb.eot") format("embedded-opentype"),
    url("../fonts/woff2/IRANSansWeb.woff2") format("woff2"),
    url("../fonts/woff/IRANSansWeb.woff") format("woff"),
    url("../fonts/ttf/IRANSansWeb.ttf") format("truetype");
}
@font-face {
  font-family: icomoon;
  src: url("../fonts/icon-fonts/icomoon-gclvx2.eot");
  src: url("../fonts/icon-fonts/icomoon-gclvx2.eot#iefix")
      format("embedded-opentype"),
    url("../fonts/icon-fonts/icomoon-gclvx2.ttf") format("truetype"),
    url("../fonts/icon-fonts/icomoon-gclvx2.woff") format("woff"),
    url("../fonts/icon-fonts/icomoon-gclvx2.svg#icomoon") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
